# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
static/
media/

# Environments
venv/
env/
.env
.venv
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store
